<h2 style="color: #6BDB31;">Edit Review</h2>

<%= form_for(@review, method: :patch, url: book_review_path(@book, @review)) do |f| %>
	<%= f.label :content %> <%= f.text_area :content %>
	<%= f.label :rating %> <%= f.text_field :rating %>
	
	<%= f.submit %>
<% end %>
